body {
  font-family: system-ui;
  background: #2f2f2f;
}
a:link { 
  text-decoration: none;
  color: #FB667A;
}
.navbar {
  display: grid;
  place-content: center;
}

.title-content {
  color: #FB667A;
  text-align: center;
  font-size: 1cm;
}